/*
 =================================================================================================================
; Title: Assignment 8.2 WhatABook Part 2
; Author: Shane Hingtgen
; Bellevue University
; Date: 02/25/23
; Description: In this assignment we learn to website data converted into json format
; Work Cited:
    Web 330 HTML, CSS, and JavaScript Requirements
    Web 330 Assign 8
    MDN Docs https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
    MDN Docs https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams
    MDN Docs https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function
    MDN Docs https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Conditional_Operator
    W3 Schools https://www.w3schools.com/js/js_api_fetch.asp
    W3 Schools https://www.w3schools.com/jsref/jsref_search.asp
    W3 Schools https://www.w3schools.com/jsref/obj_event.asp
    W3 Schools https://www.w3schools.com/howto/howto_css_loader.asp
=================================================================================================================
*/

/* For the loader when the table data is loading in */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: 35%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
