.danger {
  float: right;
  color: #df546a;
  font-size: 12px;
  letter-spacing: 2px;
}

.form-label {
  display: inline-block;
  padding-top: 1rem;
}

#futureValue {
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
}
